name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Install dotnet global tools (coverlet, reportgenerator)
      run: |
        dotnet tool install --global coverlet.console
        dotnet tool install --global dotnet-reportgenerator-globaltool
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Debug --no-restore
    - name: Test with coverage
      run: dotnet test --no-restore --verbosity normal
    - name: Generate coverage reports
      run: reportgenerator "-reports:kata-rabbitmq.bdd.tests/TestResults/*.xml" "-targetdir:kata-rabbitmq.bdd.tests/TestResults/report" "-reporttypes:Html;lcov" "-title:Kata RabbitMQ"
    - name: Attach coverage report to build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: kata-rabbitmq.bdd.tests/TestResults/report
    - name: Publish coverage report to coveralls.io
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: kata-rabbitmq.bdd.tests/TestResults/report/lcov.info
    - name: Publish coverage report to CodeClimate
      uses: paambaati/codeclimate-action@v2.7.4
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageLocations: kata-rabbitmq.bdd.tests/TestResults/report/lcov.info:lcov
